<% provide :title, 'About Us' %>

<h1>About Us</h1>

<p>
  My name is Jonas. As you might guess, I am getting into Rails-Development at the moment.
  Reference to: <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
</p>

