<% provide :title, 'Help' %>

<h1>Get Help</h1>

<p>
  Should you get stuck, please contact the system administrator.
  Reference to: <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
</p>



